
@{
    ViewBag.Title = "LoginView";
}
<center>
<h1>Delivery Água&Gás</h1>
</center>

<br/>
<br/>

<center>
<div class="row ">

        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div style="padding: 10;">
                <div class="row thumbnail" style="background-color: red;">
                    <h1>Login</h1>
                    <br />
                    <div class="" input-group input-group-sm col-lg-12">

                        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
                        <br />

                    </div>
                    <div class="" input-group input-group-sm col-lg-12">
                        <input type="password" class="form-control" placeholder="senha" aria-describedby="sizing-addon3">
                        <br/>
                    </div>

                    <div class="row">
                        <div class="col-lg-7">
                            <a href="#" class="navbar-link">Esqueceu a senha?</a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#" class="navbar-link">Cadastre-se</a>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <button type="submit" class="btn btn-default">ENTRAR</button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</center>